<h1 class='text-center'>Memory Match-Mystify</h1>

<hr />

<div id='mem-game' class='container'>
  <div class='col-sm-12 text-center'>
  </div>

  <div class='row text-center'>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-heart"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-trash"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-glass"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-plus"></p></div>
  </div>

  <div class='row text-center'>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-star"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-star"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-heart"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-trash"></p></div>
  </div>

  <div class='row text-center'>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-cloud"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-music"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-glass"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-plus"></p></div>
  </div>

  <div class='row text-center'>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-pencil"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-cloud"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-music"></p></div>
    <div class='col-sm-3 cards'><p class="glyphicon glyphicon-pencil"></p></div>
  </div>

</div>
